################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyApp/FileContentIndex
/.vs/MyApp/FileContentIndex
